version: 2.1

orbs:
  node: circleci/node@5.0.2

  filter_deployable: &filter_deployable
    filters:
      branches:
        only:
          - master
jobs:

  lint_and_style:
    executor: node/default
    steps:
      - attach_workspace:
          at: ~/project
      - run: npx eslint --version
      - run: npx eslint .


workflows:
  lint:
    jobs:
      - lint_and_style
