version: 2.1

orbs:
  node: circleci/node@7.2.1

jobs:
  lint_and_style:
    executor: node/default
    steps:
      - checkout:
          method: full
      - run: npm i eslint
      - run: npx eslint --version
      - run: npx eslint .

workflows:
  lint:
    jobs:
      - lint_and_style
