version: 2.1

orbs:
  node: circleci/node@7.2.1

jobs:
  lint_and_style:
    executor: node/default
    steps:
      - checkout:
          method: blobless
      - run: npm i eslint
      - run: npx eslint --version
      - run: npx eslint .

  markdownlint:
    executor: node/default
    steps:
<<<<<<< HEAD
      - checkout:
          method: blobless
      - run:
            name: Install dependencies
            command: npm install --save-dev markdownlint-cli
      - run:
          name: Run markdownlint
          command: npx markdownlint "README.md"
=======
      - checkout
      - run:
          name: Run markdownlint
          command: npx markdownlint "**/*.md"
>>>>>>> 1741a94 (Dec25g)

workflows:
  lint:
    jobs:
      - lint_and_style
      - markdownlint
